body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:277px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:11px;
  width:268px;
  height:276px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:20px;
  width:115px;
  height:41px;
}
#u128_img.selected {
}
#u128.selected {
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:20px;
  width:115px;
  height:41px;
}
#u129_img.selected {
}
#u129.selected {
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:20px;
  width:115px;
  height:41px;
}
#u130_img.selected {
}
#u130.selected {
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:20px;
  width:115px;
  height:41px;
}
#u131_img.selected {
}
#u131.selected {
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:252px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:61px;
  width:460px;
  height:251px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:456px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:252px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:61px;
  width:460px;
  height:251px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:456px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:252px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:61px;
  width:460px;
  height:251px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:456px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:252px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:61px;
  width:460px;
  height:251px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:456px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:411px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:411px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:411px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:411px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:411px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:431px;
  width:0px;
  height:0px;
}
#u141_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u141_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:431px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u142_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:431px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u143_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:431px;
  width:0px;
  height:0px;
}
#u144_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u144_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:20px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:500px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:500px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:500px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:500px;
  width:86px;
  height:40px;
  font-size:16px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:79px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:481px;
  width:127px;
  height:78px;
  font-size:16px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:520px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:520px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:520px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:520px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
